@charset "UTF-8";
.ui-icon-trans{
	background-image: url(../images/bus.png)!important;
}/* CSS Document */

.ui-icon-safety{
	background-image: url(../images/safety.png)!important;
}/* CSS Document */

.yellowstar{
	background-image:url(../custom/yellowstar_icon.png)!important;
}